<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- JS Calculated between the EJS tags -->
    <h1><%= 'The Home Page'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab praesentium
      sint, deserunt dolor ad hic ducimus explicabo quod doloremque dolore,
      aperiam officiis, aliquam eveniet perspiciatis recusandae. Aliquam
      obcaecati itaque inventore?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis quo
      doloribus qui nulla voluptates soluta quisquam, tenetur debitis eum
      explicabo asperiores placeat dolor exercitationem minus repudiandae? Ad
      possimus soluta voluptates?
    </p>
  </body>
</html>
